<div id='job-wrapper'>
  <div class= 'container-fluid'>
    <div class='row'>
      <%= div_for(@favorite_jobs, class: 'listing col-lg-12 col-md-12 col-sm-12') do |favorite_job|%>
        <div class="<%=favorite_job.job.location.to_s.split(" ")[0]%> <%= favorite_job.job.remote %> panel panel-default hide-locations">
          <div class="panel-heading">
            <h3 class="panel-title <%=favorite_job.job.id%>"><%= favorite_job.job.title %></h3>
          </div>
          <div class='panel-body'>
            URL: <%= favorite_job.job.url %>
            <div>Posted On: <%= favorite_job.job.posted_on %></div>
            <div>Description: <%= sanitize favorite_job.job.description %></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div
