<div class='container-fluid'>
  <div class='row'>
    <div class="col-lg-12">

      <button type="button" class="btn btn-sm filter-btn" data-toggle="collapse" data-target="#filter-wrapper" aria-expanded="true" aria-controls="filter-wrapper">
        Filter
      </button>

      <!-- This is a div to store our flash messages -->
      <div class='.unobtrusive-flash-container'></div>

      <div class='actions'>
        <%= link_to 'Add a Job', new_job_path, :id => "add_job" %>
      </div>
      <div id="filter-wrapper" class="collapse in">
        <div class='location'>
          <div class= 'filter-buttons' data-toggle="buttons">
            <h5> Locations </h5>
            <% @locations.each do |location| %>
              <label id="<%=location.to_s.delete("' ',/;")%>" class="btn btn-primary btn-xs filter-button">
                <input type="radio" autocomplete="off" value=<%= location %>> <%= location %>
              </label>
            <% end %>
            <h5>Job Type</h5>
            <label id= 'true' class='btn btn-primary btn-xs filter-button'>
              <input type="radio" autocomplete="off">Remote
            </label>
            <label id= 'false' class='btn btn-primary btn-xs filter-button'>
              <input type="radio" autocomplete="off">On-Site
            </label>
          </div>
        </div>
      </div>
    </div>
</div>
</div>

<div id='job-wrapper'><div class= 'container-fluid'><div class='row'>
<%= render :partial => 'job', :collection => @jobs %>
</div></div></div>
