<div class='container-fluid'>
  <div class='row'>
    <div class="col-lg-12">

      <button type="button" class="btn btn-sm filter-btn" data-toggle="collapse" data-target="#filter-wrapper" aria-expanded="true" aria-controls="filter-wrapper">
        Filter
      </button>

      <!-- This is a div to store our flash messages -->
      <div class='.unobtrusive-flash-container'>

      </div>

      <div id="filter-wrapper" class="collapse in">
        <div class='location'>
          <div class= 'filter-buttons' data-toggle="buttons">
            <h5> Locations </h5>
            <% @locations.each do |location| %>
              <label id="<%=location.to_s.delete("' ',/;")%>" class="btn btn-primary btn-xs filter-button">
                <input type="radio" autocomplete="off" value=<%= location %>> <%= location %>
              </label>
            <% end %>
            <h5>Job Type</h5>
            <label id= 'true' class='btn btn-primary btn-xs filter-button'>
              <input type="radio" autocomplete="off">Remote
            </label>
            <label id= 'false' class='btn btn-primary btn-xs filter-button'>
              <input type="radio" autocomplete="off">On-Site
            </label>
          </div>
        </div>
      </div>
    </div>
</div>
</div>


<div id='job-wrapper'>
  <div class= 'container-fluid'>
    <div class='row'>
        <%= div_for(@jobs, class: 'listing col-lg-12 col-md-12 col-sm-12') do |job| %>
          <div class="<%=job.location.to_s.delete("' ',/;")%> <%= job.remote %> panel panel-default hide-locations">
            <div class="panel-heading">
              <h3 class="panel-title <%=job.id%>"><%= job.title %></h3>
            </div>

            <div class='panel-body'>
              URL: <%= job.url %>
              <div>Posted On: <%= job.posted_on %></div>
              <div>Description: <%= sanitize job.description %></div>

              <div class="favorite-btn">
                <%= button_to favorite_jobs_path(job_id: job.id), method: "post", remote: true, class: 'btn btn-primary btn-xs favorite' do%>
                  <i class="fa fa-star"> Favorite</i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div> <!-- this is the end of the job wrapper -->
