<button type="button"
        class="btn btn-sm"
        data-toggle="collapse"
        data-target="#demo"
        aria-expanded="true"
        aria-controls="demo">
  Filter
</button>
<!-- <div id="demo" class="collapse in">
  <div class='location'>
    <div class="btn-group" data-toggle="buttons">
      <h5> Locations </h5>
      <label id='btn-circle' class="btn btn-primary btn-xs">
        <input type="checkbox" autocomplete="off" checked> Checkbox 1
      </label>
      <label id='btn-circle' class="btn btn-primary btn-xs">
        <input type="checkbox" autocomplete="off"> Checkbox 2
      </label>
      <label id='btn-circle' class="btn btn-primary btn-xs">
        <input type="checkbox" autocomplete="off"> Checkbox 3
      </label>
    </div>
  </div>
</div> -->

<%= form_for @job, url: jobs_path do |f| %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <br>
  <%= f.label :location %>
  <%= f.text_field :location %>
  <br>
  <%= f.label :job_type %>
  <%= f.text_field :job_type %>
  <br>
  <%= f.submit "Add jobs from Github" %>
<% end %>
