<%= link_to "Back to Jobs", jobs_path, class:"btn btn-default btn-sm filter-btn" %>

<div style="width: 70%">
  <h1 style="margin-bottom: 30px;"> Add a Job manually </h1>
  <%= form_for @job do |f| %>
    <%= f.text_field :title, placeholder: "Title", class:"input_class" %>
    <br><br>
    <%= f.text_area :description, placeholder: "Description", class:"input_class", rows:8 %>
    <br><br>
    <%= f.text_field :location, placeholder: "Location", class:"input_class" %>
    <br><br>
    <%= f.text_area :how_to_apply, placeholder: "How to apply", class:"input_class", rows:3  %>
    <br><br>
    <%= f.text_field :company_name, placeholder: "Company Name", class:"input_class" %>
    <br><br>
    <%= f.text_field :company_url, placeholder: "Website", class:"input_class" %>
    <br><br>
    <%= f.text_field :remote, class:"input_class" %>
    <br><br>
    <%= f.submit "Save", :id => 'save_job' %>
  <% end %>
</div>
