<%= link_to "Back to Jobs", jobs_path, class:"btn btn-default btn-sm filter-btn" %>

<div style="width: 70%">
  <h1 style="margin-bottom: 30px;"> Add a Job manually </h1>
  <%= form_for @job do |f| %>
    <%= f.text_field :title, placeholder: "Title", class:"input_class" %>
    <br><br>
    <%= f.text_area :description, placeholder: "Description", class:"input_class", rows:8 %>
    <br><br>
    <%= f.text_field :location, placeholder: "Location", class:"input_class" %>
    <br><br>
    <%= f.text_area :how_to_apply, placeholder: "How to apply", class:"input_class", rows:3  %>
    <br><br>
    <%= f.text_field :company_name, placeholder: "Company Name", class:"input_class" %>
    <br><br>
    <%= f.text_field :company_url, placeholder: "Website", class:"input_class" %>
    <br><br>
    <%= f.text_field :remote, class:"input_class" %>
    <br><br>
    <%= f.submit "Add a Job" %>
  <% end %>
</div>

<br><br><br>
<h1 style="margin-bottom: 30px;"> Add Jobs from Github </h1>

<div style="width: 50%; padding-bottom: 100px;">
  <%= form_for @job, url: jobs_path do |f| %>
    <%= f.text_field :description, id: "github_description", placeholder: "Description", class:"input_class"%>
    <br><br>
    <%= f.text_field :location, id: "github_location", placeholder: "Location", class:"input_class"  %>
    <br><br>
    <%= f.text_field :job_type, placeholder: "Job Type", class:"input_class"  %>
    <br><br>
    <%= f.submit "Retrieve jobs from Github" %>
  <% end %>
</div>
