<%= link_to "Back to Jobs", jobs_path, class:"btn btn-default btn-sm filter-btn" %>

<div id='job-wrapper'>

  <div class='job_page'>
    <h1 style="color:#22c2d0; margin-bottom: -5px"><%= @job.title %></h1>
    <% if @job.company %>
      <%= link_to @job.company.name, company_path(@job.company) %><br>
    <% end %>
    <br>
    <%= @job.url %>
    <div><%= @job.posted_on ? "This job was posted originaly on #{@job.posted_on}" : "" %></div>

    <div><%= sanitize @job.description %></div>
  </div>

</div>
