<div id='job-wrapper'>
  <div class='seventy_percent'>
    <div class="panel panel-default hide-locations">
      <div class="panel-heading">
        <h3 class="panel-title <%= @job.id %>"><%= @job.title %></h3>
      </div>
      <div class='panel-body'>
        URL: <%= @job.url %>
        <div>Posted On: <%= @job.posted_on %></div>
        <div>Description: <%= sanitize @job.description %></div>
      </div>
    </div>
  </div>

</div> <!-- this is the end of the job wrapper -->
