<%= link_to "Back to Jobs", jobs_path, class:"btn btn-default btn-sm filter-btn" %>

<h1 class="job_title_index"><%= @company.name %></h1>
<h4><%= @company.description %></h4>
<h4><%= @company.team_size %></h4>


<div class="comment_section">
  <div class="news_wrapper">
    <h3 class="text-center"> Company News </h3>
    <br>
    <%= form_for(@comment, url: comments_path(id: @company.id), html: { method: :post }) do |f| %>
      <%= f.text_field :title, placeholder: "What's happening?", class:"input_class" %>
      <br>
      <br/>
      <%= f.text_area :content, placeholder:"Details, please!", class:"input_class", rows:3%>
      <br><br>
      <%= f.hidden_field :author, value: current_user.name %>
      <%= f.submit "Publish" %>
    <% end  %>

    <br><br>

    <div>
      <% @comments.each do |comment| %>
      <div class="author_news"><%= comment.author %> said:</div>
      <div class="title_news"><%= comment.title %></div>
        <div class="comment_news"><%= comment.content %></div>
      <!-- <%= link_to "Edit", edit_comment_path(comment_id: comment.id) %> -->
<br><br>
      <% end %>
    </div>
  </div>
</div>



  <h4 style="margin-bottom: 70px;"> <%=@company.jobs.count %>  available Jobs!</h4>
<div style="width:70%">

  <% @company.jobs.map  do |job| %>
  <%= link_to  job_path(job) do %>
    <div class="<%=job.location.to_s.delete("' ',/;")%> <%= job.remote %>  hide-locations">
      <h4 class=" <%=job.id%> job_title_index"><%= job.title %></h4>

      <% end %>

      <div class='panel-body'>
        <%= link_to "#{job.url}", job.url %>
        <div><%= job.posted_on ? "This job was posted originaly on #{job.posted_on}" : "" %></div>
        <div><%= sanitize job.description.truncate(250)  %></div>
        <div class="favorite-btn">
          <%= button_to favorite_jobs_path(job_id: job.id), method: "post",
          remote: true,
          class: 'btn btn-default btn-xs favorite' do%>
          <i class="fa fa-star"> </i> Favorite this job!
          <% end %>
          <hr>
        </div>
      </div>

  </div>
  <% end %>

</div>
