<nav class="navbar navbar-default navbar-fixed-top header" role="navigation">
  <div class="layout-wrap">
    <%= link_to image_tag('job_basket_logo.gif', class: 'logo'), root_path%>

    <ul class='navbar-right'>
      <% if current_user %>
        <li><%= "Welcome #{current_user.name.split(' ')[0]}" %></li>
        <li><%= link_to 'Jobs', jobs_path %></li>
        <li><%= link_to 'Add Jobs', new_job_path %> </li>
        <li><%= link_to 'Sign Out', signout_path %></li>
      <% else %>

        <li>
          <button class="btn btn-xs btn-github">
            <i class="fa fa-github"></i>
            <%= link_to " | Connect with Github", login_path, class:'github-text', id:'login_button'%>
          </button>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
