<nav class="navbar navbar-default navbar-fixed-top header" role="navigation">
  <div class="layout-wrap">
    <%= link_to image_tag('job_basket_logo.gif', class: 'logo'), root_path %>

    <ul class='navbar-right'>
      <% if current_user %>
        <li><%= "Welcome, #{current_user.first_name}" %></li>
        <li><%= link_to "Favorites", favorite_jobs_path %></li>
        <li><%= link_to 'Jobs', jobs_path %></li>
        <li><%= link_to 'Add a Job', new_job_path, :id => 'add_job' %> </li>
        <li><%= link_to 'Sign Out', signout_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
